<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erro</title>
    <style>
        body {
            background-color: #ff4d4d;
            font-family: Arial, sans-serif;
            text-align: center;
            color: white;
        }
        .container {
            width: 50%;
            margin: auto;
            padding: 20px;
            background-color: white;
            color: black;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>Detalhes do Erro</h1>
    <div class="container">
        <p><strong>Status Code:</strong> <span th:text="${statusCode}"></span></p>
        <p><strong>Mensagem de erro:</strong> <span th:text="${errorMessage}"></span></p>
        <p><strong>Exceção:</strong> <span th:text="${exceptionMessage}"></span></p>
        <a href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>
